<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta property="og:description" content="<%= description %>" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:url" content="https://linkfork.co/" /> -->
    <meta property="og:title" content="<%= title %>" />
    <!-- <meta property="og:image" content="<%= thumbnailImageURL %>" /> -->

    <% for(var i=0; i<Math.min(images.length,4); i++) { %>
      <meta property="og:image" content="<%= images[i] %>" />
      <meta name="twitter:image" content="<%= images[i] %>" />
    <% } %>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= title %>">
    <meta name="twitter:description" content="<%= description %>">

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= description %></p>
    <div>
      <% for(var i=0; i<images.length; i++) { %>
        <div><img src="<%= images[i] %>" /></div>
      <% } %>
    </div>
  </body>
</html>
