<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta property="og:type" content="website" />
    <!-- <meta property="og:url" content="https://linkfork.co/" /> -->
    <meta property="og:title" content="<%= title %>" />
    <!-- <meta property="og:image" content={thumbnailImageURL} /> -->

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Mini for <%= title %></p>
  </body>
</html>
